/*? Imports */
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*? Variables */
:root {
  --sans-serif: 'Poppins', sans-serif;
  --monospace: 'Fragment Mono', monospace;

  --rich-black: rgb(10, 9, 8);
  --gun-metal: rgb(34, 51, 59);
  --almond: rgb(234, 224, 213);
  --khaki: rgb(198, 172, 143);
  --umber: rgb(94, 80, 63);
}

/*? Universal Styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 90%;
  margin: 0 auto;
  background-color: var(--almond);
}

@media only screen and (max-width: 950px) {
  body {
    max-width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/*? Header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--khaki);
  color: var(--rich-black);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo h1 {
  font-family: var(--sans-serif);
}

.logo h1,
.logo i {
  font-size: 4rem;
}

header nav {
  display: flex;
  gap: 1.75rem;
}

header nav a {
  font-family: var(--monospace);
  font-size: 1.65rem;
  color: var(--rich-black);
  text-decoration: underline 0.15rem transparent;
  transition: text-decoration-color 300ms;
}

header nav a:hover,
header nav a:active {
  text-decoration-color: var(--rich-black);
}

@media only screen and (max-width: 600px) {
  .logo h1,
  .logo i {
    font-size: 2.75rem;
  }

  header nav {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}

/*? Hero */
#hero {
  padding: 6rem 4rem;
  background-image: url('../img/landing.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  background-color: var(--khaki);
  color: var(--rich-black);
  padding: 4rem;
  max-width: 47%;
  min-width: min-content;
}

.hero-text h2 {
  font-family: var(--sans-serif);
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.hero-text p {
  font-family: var(--monospace);
  font-size: 1.6rem;
}

@media only screen and (max-width: 428px) {
  .hero-text {
    padding: 6rem 2rem;
  }

  .hero-text h2 {
    font-size: 3rem;
    width: min-content;
  }

  .hero-text p {
    font-size: 1.2rem;
  }
}

/*? About */
#about {
  padding: 4.5rem 6rem;
  background-color: var(--khaki);
  color: var(--rich-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about h2,
#about h3 {
  font-family: var(--sans-serif);
  line-height: 1;
  margin-bottom: 1.25rem;
}

#about h2 {
  font-size: 3.5rem;
}

#about h3 {
  font-size: 2.5rem;
}

#about p {
  font-family: var(--monospace);
  font-size: 1.6rem;
  text-align: center;
}

#about hr {
  height: 0.5rem;
  background-color: var(--gun-metal);
  margin: 2rem 0;
  align-self: stretch;
  justify-self: center;
}

/*? Photos */
#photos {
  padding: 4rem 0;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.photo {
  max-width: 35%;
  height: auto;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .photo-container {
    flex-direction: column;
  }

  .photo {
    max-width: 80%;
  }
}

/*? Contact */
#contact {
  padding: 8rem 4rem;
  background-color: var(--gun-metal);
  color: var(--almond);
  text-align: center;
}

#contact h2 {
  font-family: var(--sans-serif);
  font-size: 4rem;
  line-height: 1.12;
  margin-bottom: 1rem;
}

#contact p {
  font-family: var(--monospace);
  font-size: 1.75rem;
}

.form-container {
  margin-top: 4rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
}

.form-container > * {
  display: block;
}

.form-container #email {
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  width: 50%;
  font-family: var(--monospace);
  font-size: 1.4rem;
}

.form-container #submit {
  padding: 0 3rem;
  border-radius: 2rem;
  background-color: var(--almond);
  color: var(--gun-metal);
  font-size: 1.4rem;
  font-weight: bold;
  transition: color 300ms, background-color 250ms;
}

.form-container #submit:hover,
.form-container #submit:active {
  background-color: var(--umber);
  color: var(--almond);
}

@media only screen and (max-width: 428px) {
  #contact h2 {
    font-size: 3rem;
  }

  #contact p {
    font-size: 1.4rem;
  }

  .form-container {
    flex-direction: column;
    gap: 1rem;
  }

  .form-container #email {
    width: 100%;
  }

  .form-container #submit {
    width: 100%;
    padding: 1.25rem;
  }
}

/*? Footer */
footer {
  padding: 1rem;
  font-size: 1.4rem;
  font-family: var(--monospace);
}
